<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/index.css">

    <title>QuoteBook</title>
</head>
<body>
    <header class="site-header">
        <div class="SiteName">
            QuoteBook
        </div>
        <div class="LinksMessage">
            <a href=""> <img src="/img/discord.svg"/></a>
            <a href=""> <img src="/img/telegram.svg"/></a>
            <a href=""> <img src="/img/git.svg"/></a>
        </div>
        <div class="LightMode">
            <img src="/img/sun.svg"/>
        </div>
    </header>
    <div class="LinkCategory">
        <div class="text">

        </div>
        <div class="LinkMusic">
            
        </div>
        <div class="LinkBook">
            
        </div>
        <div class="LinkGame">
            
        </div>
        <div class="LinkTeacher">
            
        </div>
        <div class="LinkFilm">
            
        </div>
    </div>
    <footer>
        
    </footer>
</body>
</html>